---
interface Props {
  date: string | Date;
  title: string;
  company: string;
  companyLink?: string;
}

const { date, title, company, companyLink } = Astro.props;
---

<!-- Heading -->
<div class="ps-2 my-2 first:mt-0">
  <h3 class="font-medium text-primary/70">
    {typeof date === "string" ? date : new Date(date).toDateString()}
  </h3>
</div>
<!-- End Heading -->

<!-- Item -->
<div class="flex gap-x-3">
  <!-- Icon -->
  <div
    class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] after:bg-gray-200"
  >
    <div class="relative z-10 size-7 flex justify-center items-center">
      <div class="size-2 rounded-full bg-gray-400"></div>
    </div>
  </div>
  <!-- End Icon -->

  <!-- Right Content -->
  <div class="grow pt-0.5 pb-8">
    <h3 class="text-xl flex items-center gap-x-1.5 text-cyan-500 font-bold">
      <i class="icon-[solar--document-text-bold-duotone]"></i>
      <span class="flex-1">
        {title}
      </span>
    </h3>
    <h4 class="text-gray-400/80 mt-2 font-semibold">
      {
        companyLink ? (
          <a href={companyLink} target="_blank" rel="noopener noreferrer">
            {company}
          </a>
        ) : (
          <>{company}</>
        )
      }
    </h4>
    <div class="mt-2">
      <slot />
    </div>
  </div>
  <!-- End Right Content -->
</div>
<!-- End Item -->
