---
const today = new Date();
---

<footer class="py-24">
	<div class="container">
		<a
			href="https://github.com/oswaldohuillca"
			target="_blank"
			rel="nofollow noopener"
			title="https://github.com/oswaldohuillca"
			class="mx-auto flex justify-center items-center size-[46px] text-2xl font-semibold rounded-lg border border-transparent hover:bg-primary-foreground disabled:opacity-50 disabled:pointer-events-none"
		>
			<span class="icon-[ant-design--github-outlined]"></span>
		</a>
	</div>
</footer>
